<h1>header</h1>
<div style="display: flex;flex-direction: row;gap: 20px;">
    <a href="/">
        <p>
            home
        </p>

    </a>

    <a href="/_create">
        <p>
            create
        </p>

    </a>

    <a href="/weekView">
        <p>
            week-view
        </p>

    </a>


</div>