
<section>
    <h1>Welcome to the Home Page</h1>
    <p>This is a simple Express app using EJS.</p>
    <!-- Add random content -->
    <div>
      <p>Random content specific to the home page.</p>
      <ul>
        <li>Item 1</li>
        <li>Item 2</li>
        <li>Item 3</li>
      </ul>
    </div>
  </section>


  